DEBUG=
URL=https://api.notion.com/v1/
VERSION=2022-06-28
KEY=
DB_ID=

# 文章将会输出到该目录
PAGE_SAVE_PATH=

# origin：原链接，file：下载为文件，base64：转为base64写入文章中
IMG_DOWNLOAD=
# 选择file时填写下载的路径，请填写PAGE_SAVE_PATH下的相对路径
STATIC_PATH=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=