{
    "url": "https://api.notion.com/v1/",
    "version": "2022-06-28",
    "key": "",
    "db_id": "",
    "db": {
        "url": "",
        "user": "",
        "password": "",
        "name": "",
    }
}